@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


$body-color: #ebebeb;
$primary: #263238;
$secondary: #8fb6b39c;
$tertiary: #fff;
$quaternary: #CFD8DC;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Monseratt", sans-serif;
  margin: 0 auto;
  background-color: $body-color;
  color: $primary;
  width: 100%;

  a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $primary;
    text-decoration: none;
  }

  h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    margin: 0 auto;
  }

  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
  }
}


.head {
  height: 50px;
  background-color: $tertiary;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .head__links {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      transition: 300ms ease;

      &:hover {
        color: $tertiary;
        background-color: $primary;
      }
    }
  }

}

/************MAIN***************/

.content {
  display: flex;
  flex-direction: column;

  .hello__section {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    background-color: $secondary;

    .hello__info {
      background-color: $tertiary;
      margin: 50px;
      padding: 50px;
      font-style: normal;
      letter-spacing: -0.015em;

      .hello__info-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        .hello__button {
          border: none;
          background-color: $primary;
          color: $quaternary;
          border-radius: 10px;
          padding: 20px 60px;
          font-family: Abel;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 25px;
          display: flex;
          align-items: center;
          letter-spacing: -0.015em;
        }
      }

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        margin: 0 auto;
      }

      .hello__info-contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .hello__info-column1 p {
          font-weight: bold;
          font-size: 16px;
          line-height: 29px;
          text-transform: uppercase;
          margin: 0 auto;
          padding-top: 10px;
        }

        .hello__info-column2 {
          .links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            a {
              padding-right: 10px;
              padding-top: 10px;
            }
          }

          p {
            font-weight: normal;
            font-size: 16px;
            line-height: 29px;
            text-transform: normal;
            margin: 0 auto;
            padding-top: 10px;
          }
        }
      }
    }

    .hello__aside {
      flex-basis: 50%;
      content: "";
      background: url(../images/hello-bg.png) no-repeat;
      background-size: cover;
      background-position: right;
    }
  }

  .skills {
    margin: 40px 0;
    padding: 40px 50px;
    background-color: $tertiary;

    .skills__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .skills__content-block {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;

        p {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: -0.015em;
          text-align: left;
          align-items: center;
        }

        &:last-child {
          flex-basis: 20%;
        }
      }
    }
  }

  .education {
    margin: 40px 0;
    padding: 40px 50px;
    background-color: $tertiary;

    .education__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .education__content-block {
        flex-basis: 33.3%;
        display: flex;
        flex-direction: column;

        p {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: -0.015em;
          text-align: left;
          align-items: center;
        }
      }
    }
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 40px 50px;
    background-color: $tertiary;
    justify-content: flex-start;

    h1 {
      margin: 0;
    }

    .portfolio__tabs {
      display: flex;
      flex-direction: row;
      flex-shrink: 2;
      padding: 10px 0;
      justify-content: flex-start;

      a {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;

        &:hover {
          color: $tertiary;
          background-color: $primary;
        }
      }
    }

    .portfolio__slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .slider-nav__prev,
      .slider-nav__next {
        font-size: 50px;
        flex-basis: 5%;
        text-align: center;
      }

      .slider {
        flex-basis: 90%;

        .slider-items {
          position: relative;
          height: 350px;

          .slider-items__slide {
            display: none;
            flex-direction: row;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            transition: 1000ms ease;

            p {
              position: absolute;
              top: 310px;
            }

            &.active {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              flex-basis: 70%;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
            }
          }

          .hide {
            display: none;
          }
        }

        i {
          font-size: 50px;
        }
      }
    }

    .slider-bullets {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 90vw;
      height: 30px;
      background-color: $tertiary;

      a {
        width: 30px;
        height: 5px;
        border-radius: 10px;
        background-color: #B0BEC5;
        transition: 300ms ease;
        margin: 0 5px;

        &.active {
          width: 8px;
          height: 5px;
          border-radius: 10px;
          background-color: #78909C;
        }
      }
    }
  }
}

/*************MOBILE***********/

#burger-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border: transparent;
  background-color: transparent;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  z-index: 4;

  & span:nth-child(1) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary;
      transition: ease-in 300ms;
  }

  & span:nth-child(2) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 0;
      left: 10px;
      background-color: $primary;
      transition: ease-in 300ms;
  }

  & span:nth-child(3) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 0;
      left: 20px;
      background-color: $primary;
      transition: ease-in 300ms;
  }

  & span:nth-child(4) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 10px;
      left: 0;
      background-color: $primary;
      transition: ease-in 300ms;
  }

  & span:nth-child(5) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: $primary;
      transition: ease-in 300ms;
  }

  & span:nth-child(6) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 10px;
      left: 20px;
      background-color: $primary;
      transition: ease-in 300ms;
  }

  & span:nth-child(7) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 20px;
      left: 0;
      background-color: $primary;
      transition: ease-in 300ms;
  }

  & span:nth-child(8) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 20px;
      left: 10px;
      background-color: $primary;
      transition: ease-in 300ms;
  }

  & span:nth-child(9) {
      width: 5px;
      height: 5px;
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: $primary;
      transition: ease-in 300ms;
  }
}

@media screen and (max-width: 1100px) {
  body {
      .head {
          flex-direction: row;
          align-items: center;
          position: relative;

          #burger-menu {
              display: block;
              margin-right: 30px;
          }

          .head__links {
              position: absolute;
              top: 0;
              left: -500px;
              height: 100vh;
              width: 300px;
              background-color: $tertiary;
              display: flex;
              flex-direction: column;
              transition: 300ms ease;
              a{
                  text-align: center;
              }
          }

          .head__links.open {
              position: absolute;
              top: 0;
              left: 0;
          }
      }
      .content{
          .hello__section{
              display: flex;
              flex-direction: column;
              .hello__info{
                  width: 500px;
                  margin-left: auto;
                  margin-right: auto;
                  .hello__info-contacts{
                      justify-content: flex-start;
                      align-items: center;
                      .hello__info-column1{
                          text-align: left;
                      }
                      .hello__info-column2{
                          text-align: right;
                      }
                  }
              }
          }
          .skills, .education{
              .skills__content, .education__content{
                  display: flex;
                  flex-direction: column;
              }
          }
          .portfolio{
              .portfolio__slider{
                .slider-nav__prev, .slider-nav__next{
                  font-size: 30px;
                }
                  .slider{
                    .slider-items{
                      height: 150px;
                      .slider-items__slide.active{
                          display: flex;
                          flex-direction: row;
                          .slide__element{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            img{
                              width: 100px;
                              height: 100px;
                            }
                            p{
                              position: absolute;
                              top: 0;
                              display: none;
                            }
                          }
                        
                      }
                    }
                  }
              }
          }
      }
  }
}

@media screen and (max-width: 620px){
  body {
    h1{
      font-size: 40px;
      line-height: 50px;
    }
    .content{
      .hello__section{
        .hello__info{
          padding: 10px;
          margin: 10px auto;
          width: 250px;
          p{
            font-size: 16px;
          }
          .hello__info-buttons{
            display: flex;
            flex-direction: column;
            .hello__button{
              padding: 10px;
              margin-bottom: 10px;
              background-color: $primary;
            }
          }
        }
      } 
      .portfolio{
        justify-content: space-between;
        h1{
          flex-grow: 1;
        }
        .portfolio__slider{
          flex-grow: 3;
          .slider {
            .slider-items {
              .slider-items__slide{
                &.active{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  img{
                    width: 100px;
                  }
                }
              }
            }
          }
        }
      }
    } 
  }
}